{% extends "base_generic.html" %}

{% block content %}

<h1>{{ post.title }}</h1>
<p><strong>Post date</strong> {{ post.post_date }}</p>
<p><strong>Description:</strong></p>
<p style="white-space:pre-wrap;">{{ post.description }}</p>
{% endblock %}