<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Django DIY Blog</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container-fluid">

<div class="row">
  <div class="col-sm-2">
  {% block sidebar %}
{#  <ul class="sidebar-nav">#}
{#    <li><a href="{% url 'index' %}">Home</a></li>#}
{#    <li><a href="{% url 'blogs' %}">All blogs</a></li>#}
{#    <li><a href="{% url 'bloggers' %}">All bloggers</a></li>#}
{#  </ul>#}

{#  <ul class="sidebar-nav">#}
{#   {% if user.is_authenticated %}#}
{#     <li>User: {{ user.get_username }}</li>#}
{#     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>#}
{#   {% else %}#}
{#     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>#}
{#   {% endif %}#}
{#  </ul>#}

  {% endblock %}
  </div>
  <div class="col-sm-10 ">
  {% block content %}{% endblock %}

  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

  </div>
</div>

</div>
</body>
</html>